# -------------------------
# Core Framework
# -------------------------
Django==4.2.7

# -------------------------
# Deployment
# -------------------------
gunicorn
whitenoise==6.6.0

# -------------------------
# Database (Supabase PostgreSQL)
# -------------------------
dj-database-url==2.1.0
psycopg2-binary==2.9.9

# -------------------------
# Environment variables
# -------------------------
python-dotenv==1.0.1

# -------------------------
# AI / Language Models
# -------------------------
openai==1.14.3
groq

# -------------------------
# Data & Analytics
# -------------------------
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.1.post1
matplotlib==3.8.2
Pillow==10.2

requests
python-dateutil
# -------------------------
# PDF Generation
# -------------------------
reportlab==4.1.0
